<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cretin.www.cretinautoupdatelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">
        <activity android:name=".activity.UpdateBackgroundActivity"></activity>
        <activity
            android:name=".activity.UpdateType12Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType11Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType10Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType9Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType8Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType7Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType6Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType5Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType4Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType3Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType2Activity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.UpdateType1Activity"
            android:theme="@style/DialogActivityTheme" />

        <service android:name=".service.UpdateService" /> <!-- 老版本的服务 -->
        <service android:name=".utils.DownloadService" />

        <provider
            android:name=".utils.InstallFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>
    </application>

</manifest>